<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav>
    <a href="/">Your Playlist</a>
    <a href="/auth/signout">Sign Out</a>
  </nav>
<body>
    <h1>ERROR ERROR</h1>
    <p>an error occurred while processing your request... embarrasing..</p>
    <a href="/">Click to teleport to the home page</a>
</body>
</html>